<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="green">
    <ion-title> <button ion-button color="green" (click)="back()">
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button> Terms&Conditions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-content>
        <ion-card padding>
          <div class="row" *ngFor="let item of items">
              <div [innerHtml]="item.termsandconditions"></div>
            </div>
            <br/>
            <br/>
           
          </ion-card>
</ion-content>
