<ion-header>
  <ion-navbar color="green">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Help</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">
  <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label color="green" stacked>Subject</ion-label>
              <ion-input [(ngModel)]="subject" type="text" placeholder="Type your subject"></ion-input>
            </ion-item>            
            <ion-item>
              <ion-label color="green" stacked>Content</ion-label>
              <ion-textarea [(ngModel)]="body" placeholder="Type your content"></ion-textarea>
            </ion-item>
           </ion-list>
      </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="signup-col">
          <button ion-button block color="green" (click)="sendmail()">Send</button>
        </ion-col>
    </ion-row>
  </div>
  <ion-fab right bottom>
      <button ion-fab color="danger"><ion-icon name="share"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab (click)="shareFB()"><ion-icon color="primary" name="logo-facebook"></ion-icon></button>
        <button ion-fab (click)="sharewap()"><ion-icon color="secondary" name="logo-whatsapp"></ion-icon></button>
        <button ion-fab (click)="sharetwit()"><ion-icon color="primary" name="logo-twitter"></ion-icon></button>
        <button ion-fab (click)="moreshare()"><ion-icon color="primary" name="share"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
