page-holidays {
	.login-content {
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .login-box {
      padding: 20px 20px 0px 20px;
      //margin-top: 10px;
      background:rgba(0,0,0,0.5);
    }   
    ion-row {
       align-items: center;
       text-align: center;
     }
 
    ion-item {
        padding-left: 10px !important;
        font-size: 1.0em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
 
    .signup-col {
      margin: 0px 0px 0px 0px;
      padding-bottom: 20px;
    }
 
    .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
    }
	}
	.image {
        width: 50px; 
        height: 50px; 
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 5px white;
    	align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-pic{
    	margin-top: 10px;
        width:80px;
        height:60px;
        -webkit-border-radius: 80%;
        border-radius: 80%;
    	align-items: center;
    	margin-left: auto;
        margin-right: auto;
    }
    ion-card.card{
box-shadow:none;
border-radius: 5px;
margin-top:50px
}
.col {
    border: solid 1px gray;
    border-bottom-style: none;
    border-right-style: none;
    }

.col:last-child {
    border-right: solid 1px grey;
}
.row:last-child .col {
    border-bottom: solid 1px grey;
}
.row{
border:10px;
}
h6
{
    font-size:14;
}
p{
    font-size:12;
}
}
