<ion-header>
  <ion-navbar color="green">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>FAQ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card style="margin-left: 10px; margin-bottom: 50px;" padding>
        <div class="row" *ngFor="let item of items">
          <div [innerHtml]="item.faq"></div>
        </div>
    </ion-card>
    <ion-fab right bottom>
        <button ion-fab color="danger"><ion-icon name="share"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="shareFB()"><ion-icon color="primary" name="logo-facebook"></ion-icon></button>
            <button ion-fab (click)="sharewap()"><ion-icon color="secondary" name="logo-whatsapp"></ion-icon></button>
            <button ion-fab (click)="sharetwit()"><ion-icon color="primary" name="logo-twitter"></ion-icon></button>
            <button ion-fab (click)="moreshare()"><ion-icon color="primary" name="share"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>